.a{
    margin-top:20px;
}
.form-control{
    width:300px;
}
.abc{
    margin-top:20px;
}

.xyz{
    display:inline-block; margin-left:50px;
}
.area{
    outline:solid; margin-top:10px; width:550px; height:170px; margin-left:200px;}

h4{
    margin-left:50px;
}

.java{
    margin-left:50px;
}
.x{
    margin-left:50px; margin-top:10px;
}
.y{
    margin-top:10px;
}